*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
@media screen and (max-width: 640px)
{
    body, html{
        width: 100vw;
        overflow-x: hidden;
    }
}
.slideshow-container {
    position: relative;
    height: 600px;
  }
  
  .mySlides {
    display: none;
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .mySlides h1 p {
    position: absolute;
    bottom: 0; 
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  .mySlides:first-child {
    display: block;
  }
  
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @media(max-width: 700px) {
    .prev, .next{font-size: 11px}
    .mySlides {width: 100%;
        height: 40%;}

  }
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
    background-position: center;
    background-size: cover;
    position: relative;
}
#background-video {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    object-fit: cover;
    position: absolute;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
.header1{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f44336;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
.hero-btn1{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    border: 1px solid #000000;
    padding: 12px 34px;
    font-size: 13px;
    border-radius: 10px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn1:hover{
    border: 1px solid #f44336;
    background: #f44336;
    color: #ffffff;
    border: 1px solid #ffffff;
    transition: 1s;
}
nav .fa{
    display: none;
}
.marquee{
    color: white;
}
.marquee a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .text-box h2{
        font-size: 17px;
    }
    .text-box p{
        font-size: 14px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #5e5e5e;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
h3{
    color: #000000;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.row-c{
    margin-top: 5%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.row-c p{
    color: #ffffff;
}
.row-c h3{
    color: white;
}
.row-c a{
    text-decoration: none;
}
.row-p{
    margin-top: 5%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.row-p h3{
    color: white;
}
.row-p a{
    text-decoration: none;
}
.row-s{
    margin-top: 5%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.row-s h3{
    color: white;
}
.row-s a{
    text-decoration: none;
}
.course-CT{
   
    background-image: linear-gradient(rgba(97, 97, 97, 0.7),rgba(49, 49, 49, 0.7)),url(images/CT.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 25px 12px;
    height: 200px;
    width: 170px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-CT:hover{
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
    background-image: linear-gradient(rgba(134, 134, 134, 0.7),rgba(66, 66, 66, 0.7)),url(images/CT.png);
    cursor: pointer;
    transition: 0.5s;
}
.course-ME{
    flex-basis: 19%;
    background-image: linear-gradient(rgba(97, 97, 97, 0.7),rgba(49, 49, 49, 0.7)),url(images/ME.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    height: 200px;
    width: 170px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-ME:hover{
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
    background-image: linear-gradient(rgba(134, 134, 134, 0.7),rgba(66, 66, 66, 0.7)),url(images/ME.jpg);
    cursor: pointer;
    transition: 0.5s;
}
.course-EEE{
    flex-basis: 19%;
    background-image: linear-gradient(rgba(97, 97, 97, 0.7),rgba(49, 49, 49, 0.7)),url(images/EEE.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    height: 200px;
    width: 170px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-EEE:hover{
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
    background-image: linear-gradient(rgba(134, 134, 134, 0.7),rgba(66, 66, 66, 0.7)),url(images/EEE.jpg);
    cursor: pointer;
    transition: 0.5s;
}
.course-CE{
    flex-basis: 19%;
    background-image: linear-gradient(rgba(97, 97, 97, 0.7),rgba(49, 49, 49, 0.7)),url(images/CE.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    height: 200px;
    width: 170px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-CE:hover{
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
    background-image: linear-gradient(rgba(134, 134, 134, 0.7),rgba(66, 66, 66, 0.7)),url(images/CE.png);
    cursor: pointer;
    transition: 0.5s;
}
.course-AU{
    flex-basis: 19%;
    background-image: linear-gradient(rgba(97, 97, 97, 0.7),rgba(49, 49, 49, 0.7)),url(images/AU.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    height: 200px;
    width: 170px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-AU:hover{
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
    background-image: linear-gradient(rgba(134, 134, 134, 0.7),rgba(66, 66, 66, 0.7)),url(images/AU.jpg);
    cursor: pointer;
    transition: 0.5s;
}
.course-TP{
   
    background-image: linear-gradient(rgba(97, 97, 97, 0.7),rgba(49, 49, 49, 0.7)),url(images/TP.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 25px 12px;
    height: 200px;
    width: 170px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-TP:hover{
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
    background-image: linear-gradient(rgba(134, 134, 134, 0.7),rgba(66, 66, 66, 0.7)),url(images/TP.jpg);
    cursor: pointer;
    transition: 0.5s;
}
.course-S{
   
    background-image: linear-gradient(rgba(97, 97, 97, 0.7),rgba(49, 49, 49, 0.7)),url(images/b10.JPG);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 25px 12px;
    height: 200px;
    width: 170px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-S:hover{
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
    background-image: linear-gradient(rgba(134, 134, 134, 0.7),rgba(66, 66, 66, 0.7)),url(images/b10.JPG);
    cursor: pointer;
    transition: 0.5s;
}
.course-N{
   
    background-image: linear-gradient(rgba(97, 97, 97, 0.7),rgba(49, 49, 49, 0.7)),url(images/b12.JPG);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 25px 12px;
    height: 200px;
    width: 170px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-N:hover{
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
    background-image: linear-gradient(rgba(134, 134, 134, 0.7),rgba(66, 66, 66, 0.7)),url(images/b12.JPG);
    cursor: pointer;
    transition: 0.5s;
}
.course-C{
   
    background-image: linear-gradient(rgba(97, 97, 97, 0.7),rgba(49, 49, 49, 0.7)),url(images/b1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 25px 12px;
    height: 200px;
    width: 170px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-C:hover{
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
    background-image: linear-gradient(rgba(134, 134, 134, 0.7),rgba(66, 66, 66, 0.7)),url(images/b1.jpg);
    cursor: pointer;
    transition: 0.5s;
}
.course-SS{
   
    background-image: linear-gradient(rgba(97, 97, 97, 0.7),rgba(49, 49, 49, 0.7)),url(images/SS.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 25px 12px;
    height: 200px;
    width: 200px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-SS:hover{
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
    background-image: linear-gradient(rgba(134, 134, 134, 0.7),rgba(66, 66, 66, 0.7)),url(images/SS.jpeg);
    cursor: pointer;
    transition: 0.5s;
}
.course-QN{
   
    background-image: linear-gradient(rgba(97, 97, 97, 0.7),rgba(49, 49, 49, 0.7)),url(images/QN.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 25px 12px;
    height: 200px;
    width: 200px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-QN:hover{
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
    background-image: linear-gradient(rgba(134, 134, 134, 0.7),rgba(66, 66, 66, 0.7)),url(images/QN.png);
    cursor: pointer;
    transition: 0.5s;
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
    .row-c{
        flex-direction: column;
    }
}
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226,0,0,0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col p{
    padding: 0;
}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonial-col p{
    padding: 0;
}
.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
}
.testimonial-col .fa{
    color: #f44336;
}
@media(max-width: 700px){
    .testimonial-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
}
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
@media(max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart-o{
    color: #f44336;
}
.sub-header{
    height: 60%;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/course.JPG);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header1{
    height: 60%;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/about.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header2{
    height: 60%;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/blog.JPG);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: 100px;
}
.sub-header1 h1{
    margin-top: 100px;
}
.sub-header2 h1{
    margin-top: 100px;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 0px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}
.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}
.red-btn:hover{
    color: #fff;
}
.blog-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.blog-left{
    flex-basis: 65%;
}
.blog-left img{
    width: 100%;
}
.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}
.blog-left p{
    color: #5e5e5e;
    padding: 0;
}
.blog-right{
    flex-basis: 32%;
}
.blog-right h3{
    background: #f44336;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}
.blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}
.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}
.comment-box h3{
    text-align: left;
}
.comment-form input,.comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}
.comment-form button{
    margin: 10px 0;
}
@media(max-width: 700px){
    .sub-header h1{
        font-size: 24px;
    }
    .sub-header1 h1{
        font-size: 24px;
    }
    .sub-header2 h1{
        font-size: 24px;
    }
}
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/*-------------------------------------------Upload------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.card {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 330px;
  background-color: #ffffff;
  padding: 10px 30px 40px;
}

.card h3 {
  font-size: 22px;
  font-weight: 600;
  
}

.drop_box {
  margin: 10px 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted #a3a3a3;
  border-radius: 5px;
}

.drop_box h4 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
}

.drop_box p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #a3a3a3;
}

.btn {
  text-decoration: none;
  background-color: #005af0;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  outline: none;
  transition: 0.3s;
}

.btn:hover{
  text-decoration: none;
  background-color: #ffffff;
  color: #005af0;
  padding: 10px 20px;
  border: none;
  outline: 1px solid #010101;
}
.form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}

html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column1 {
    float: left;
    width: 24.3%;
    margin-bottom: 16px;
    padding: 0 28px;
  }
  .column2 {
    float: left;
    width: 24.3%;
    margin-bottom: 16px;
    padding: 0 28px;
  }
  
  @media screen and (max-width: 650px) {
    .column1, .column2 {
      width: 100%;
      display: block;
    }
  }
  
  .card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container1 {
    padding: 0 16px;
  }
  
  .container1::after, .row1::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title1 {
    color: grey;
  }
  

  .wp-table tr:nth-child(odd) {
    background-color: #fff;
}

.wp-table tr:nth-child(even) {
    background-color: #f1f1f1;
}

.wp-table tr {
    border-bottom: 1px solid #ddd;
}

.wp-table th:first-child, 
.wp-table td:first-child {
    padding-left: 16px;
}


.wp-table td, 
.wp-table th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}

.wp-table th {
    font-weight: bold;
}
 
.wp-table {
    font-size: 13px!important;
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}
.col-md-8{
    position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px
}
@media (min-width:992px) {
    .col-md-8{
        width: 66.66666667%
    }
}
.admissions {
    padding: 45px 0px 30px 40px;
}
.admissions ul{
    padding-left: 15px;
}
.admissions ul li{
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding-bottom: 7px;
}
.admissions p{
    color: #000000;
    font-size: 15px;
    font-weight: 300; 
    line-height: 26px;
    padding-bottom: 8px;
}
.admissions p a{
    color: #ff7400;
    font-size: 15px;
    font-weight: 700; 
}
@media (min-width:320px) and (max-width:767px){
    .admissions {
        padding: 25px 0;
    }
    .admissions > ul {
        padding-left: 15px;
    }
}
.table {
	width: 100%;
	max-width: 30%;
	margin-bottom: 20px
}
table {
	background-color: transparent
}
table {
	border-spacing: 0;
	border-collapse: collapse
}

td,
th {
	padding: 0
}
.button1 {
    background: transparent;
    cursor: pointer;
  right: 0;
  position: fixed;
  top: 400px;
  width: 100px;
  padding: 10px;
font-size: 13px;
border-radius: 8px;
text-decoration: none;
color: #000000;
border: 1px solid #000000;
}
.button1:hover{
border: 1px solid #f44336;
background: #f44336;
color: #ffffff;
border: 1px solid #ffffff;
transition: 1s;
}
.tp {
    width: 200px;
}
@media(max-width:767px){
    .tp{
        width: 100px;
    }
}
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.btn-liquid {
	display: inline-block;
	position: relative;
    width: 240px;
	height: 60px;
	border-radius: 27px;
    color: #fff;
	width: 240px;
	height: 60px;
    margin: 100px -30px;
	border-radius: 27px;
    background: transparent;
	font: 700 14px/60px "Droid Sans", sans-serif;
	letter-spacing: 0.05em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.btn-liquid .inner {
	position: relative;

	z-index: 2;
}

.btn-liquid canvas {
	position: absolute;
	top: -50px;
	right: -50px;
	bottom: -50px;
	left: -50px;

	z-index: 1;
}